@import '../../styles/main.scss';
.button {
  display: block;
  width: 13rem;
  height: 36px;

  background-color: $primary-color;
  color: $bg-color;
  border: none;
  border-radius: 4px;

  font: inherit;
  &--form {
    margin: auto;
  }
  
}