@import '../../styles/variables';

.hamburger {
  // width: calc((360px / 6) - 15px);
  @media (min-width: 769px) {
    display: none;
  }
  
  margin-top: -3px;
  background-color: inherit;
  padding: 0;
  border: none;
  width: 20px;

  &__line {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $secondary-color;
    margin-bottom: 3px;
  }
}