@import '../../styles/main.scss';

.users {
  
  @media (min-width: 768px) {
    padding-top: 113px;
  }

  @media (min-width: 1024px) {
    padding-top: 123px;
    padding-bottom: 160px;
  }
  background-color: $bg-color2;
  text-align: center;

  &__text {
    margin-top: 12px;
    @media (min-width: 768px) {
      margin-top: 20px;
    }
    // margin-bottom: 36px;
  }

  &__grid {
    display: grid;
    @media (min-width: 768px) {
      margin-top: 77px;
      grid-template-columns: repeat(3, 200px);
      justify-content: space-between;
      padding: 0 40px;
      grid-row-gap: 121px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 276px);
      grid-row-gap: 121px;
      margin-bottom: 0;
    }
    grid-auto-columns: 200px;
    justify-content: center;
    grid-row-gap: 41px;
    margin: 30px 0;
  }

  button {
    margin: auto;
  }
}