@import '../../styles/main.scss';

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    // padding-top: 112px;
    // padding-bottom: 114px;
  }
  @media (min-width: 1024px) {
    height: 750px;
  }

  &__description {
    // display: grid;
    // grid-template-columns: 1fr 1.55fr;
    // align-items: flex-start;
    // margin-top: 68px;
  }
  &__image {
    display: block;
    width: 80%;
    margin: 36px auto;
    @media (min-width: 768px) {
      margin-top: 5px;
      margin-left: 2px;
    }

    @media (min-width: 1024px) {
     margin-left: 30px;
    }
    
  }  

  &__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      align-items: flex-start;
    }
    @media (min-width: 1024px) {
      margin-left: 35px;
     }

  }

  &__first-block {
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      margin: 1px 0px 25px;
    }
    @media (min-width: 1024px) {
      margin: 1px 0px 22px;
    }
  }

  &__second-block {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin: 1px 0px 29px;
      letter-spacing: -0.015em;
    }

    @media (min-width: 1024px) {
      margin-bottom: 29px;
      letter-spacing: normal;
    }
  }

  &__heading {
    margin: 0 2px 18px;
  }

  &__text {
    line-height: 1.5;
    letter-spacing: -0.008em;
    text-align: justify;
    
  }

  &__link {
    font-weight: 700;
    text-decoration: none;
    color: $primary-color;
    text-align: center;
  }

}