@import '../../styles/main.scss';
.navigation {

  &__block {
    position: relative;
    padding-top: 31px;
    // border-bottom: 2px solid tomato;
    
    &::after {
      content: "";
      position: absolute;
      bottom: -26px;
      width: 100%;
      height: 1px;
      background-color: rgba(34,36,38,.15);
    }
  }

  &__items {
    margin: 0 15px 21px;
  }
}