
.promo__header {
  box-sizing: border-box;
  margin-top: 11px;
  @media (min-width: 768px) {
    margin-top: 21px;
    margin-bottom: 14px;
  }

  @media (min-width: 1024px) {
    margin: 0;
    height: 60px;
  }
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}